.app{
  min-height: 100vh;
  background: lightskyblue;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.tweet{
  height: 300px;
  width: 300px;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.red{
  color: red;
  font-size: 50px;
}